.container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.container > .row {
  width: 800px;
  margin-left: calc(50%-400px);
  background-color: pink;
}

.container > .short-row {

width: 600px;

}

@media (max-width: 640px) {
  .container > .row {
    width: 800px;
    margin-left: calc(50%-400px);
    background-color: red;
  }

}